* {
    padding: 0;
    margin: 0;
}
body {
    display: grid;
    grid-template-areas: 
    "header header header header header header"
    "nav res weares cs navbtn mea"
    "nav map map map map map";
    grid-template-columns: 170px 3fr 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    /* align-items: center; */
    background-color: black;
    padding: 20px;
}
.header {
    grid-area: header;
    height: 10vh;
    width: 90vw;
    text-align: center;
    font-family: "隶书", "LiSu";
    color: white;
    font-size: 40px;
    /* background-color: white; */
}
#map {
    grid-area: map;
    height: 74vh;
    width: 82vw;
    border: 1px solid white;
    overflow: hidden;
    padding: 2vw;
    border-radius: 20px;
    background-size: cover;
    box-shadow: 1vw 1vw 3vw rgb(94, 94, 94);
}
.shell {
    width: 80px;
    height: 620px;
    left: 10px;
    grid-area: nav;
    background-color: #fff;
    border-radius: 15px;
    transition: .3s;
    overflow: hidden;
}
.box {
    display: block;
    height: 18%;
    width: 85%;
    margin: 9px;
    border-radius: 10px;
    position: relative;
    transition: .3s;
    color: black;
}
/* .box:nth-child(1)::before,
.box:nth-child(5)::before {
    content: '';
    display: block;
    height: 2px;
    background-color: blue;
    position: absolute;
    bottom: -10px;

} */
.box span {
    position: relative;
    top: 22px;
    left: 15px;
    font: 500 23px '';
    opacity: 0;
    transition: .1s;
    font-family: "楷体", "楷体_GB2312";
}
.shell:hover {
    width: 150px;
}
.shell:hover span {
    opacity: 1;
}
.box:hover {
    background-color: rgb(188, 184, 184);
}
.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    height: 30px;
    width: 30px;
    background-size: 100%;
}
#res {
    grid-area: res;
    top: 10px;
    /* margin-left: 200px; */
    padding: 4px 4px;
    width: 600px;
    height: 30px;
    line-height: 35px;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(27, 142, 236, 0.5);
    border-radius: 7px;
    z-index: 99;
    padding: 5px;
    display: flex;
    flex-direction: row;
    font-family: '楷体';
    font-size: 17px;
}
#wea_res {
    grid-area: weares;
    top: 10px;
    /* margin-left: 200px; */
    padding: 4px 4px;
    width: 200px;
    height: 30px;
    line-height: 35px;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(27, 142, 236, 0.5);
    border-radius: 7px;
    z-index: 99;
    padding: 5px;
    display: flex;
    flex-direction: row;
    font-family: '楷体';
    font-size: 17px;
}
#cs {
    grid-area: cs;
    height: 40px;
    width: 80px;
    font-family: '楷体';
    font-size: 17px;
    background-color: white;
    border-radius: 8px;
    margin-left: 20px;
    /* margin-right: 10px; */
}
#cs:hover {
    background-color: #8d8989;
}
#nav {
    grid-area: navbtn;
    height: 40px;
    width: 80px;
    font-family: '楷体';
    font-size: 17px;
    background-color: white;
    border-radius: 8px;
    margin-left: 20px;
    /* margin-right: 10px; */
}
#nav:hover {
    background-color: #8d8989;
}
#mea {
    grid-area: mea;
    height: 40px;
    width: 80px;
    font-family: '楷体';
    font-size: 17px;
    background-color: white;
    border-radius: 8px;
    margin-left: 20px;
    /* margin-right: 10px; */
}
#mea:hover {
    background-color: #8d8989;
}